*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #282828;
}
.section1{
    background-color: #87509c;
}
.continer{
    max-width: 1440px;
    max-height: 100%;
    margin: auto;
}

.lego{
    float: left;
    margin: 50px 80px;
    margin-left: 100px;
}
.links-section1{
    float: right;
    margin-right: 190px;
    margin-top: 60px;
}
.a{
    padding-left: 25px;
    color: #fff;
}
.Home{
    padding: 0px 5px;
    border-radius: 3px;
    transition: all 200ms;
}
.Home:hover{
    background-color: #643A79;
}
.p-b-section1{
    clear: both;
    text-align: center;
    color: #fff;
}
.p-section1{
    color: #F7F3EA;
    font-size: 42.16px;
    font-weight: bold;
}
.p2-section1{
    margin-bottom: 60px;
}
.btn-section1{
    width: 295px;
    height: 70px;
    background-color: #EB7D4B;
    font-size: 18px;
    border-radius: 4px;
    outline: none;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #C86A40;
    margin-bottom: 100px;
    color: #FFFFFF;
    transition: all 200ms;
}
.btn-section1:active {
    background-color: #C86A40;
}
.section2{
    height: 100%;
    background-color: #17c2a4;
}
.header-section2{
    color: #FFFFFF;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    word-spacing: 10px;
    position: relative;
    letter-spacing: 10px;
}
.header-section2-line{
    display: block;
    width: 100px;
    height: 20px;
    position: relative;
}
.header-section2-line::after{
    content: " ";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #14a58c;
    position: absolute;
    top: 20px;
    left: 680px;
}
.section2-p{
    margin-top: 20px;
    word-spacing: 5px;
    color: #FFFFFF;
    text-align: center;
    font: 18px;
    letter-spacing: 2px;

}
.Services{
    padding-left: 170px;
}
.img-container {
    float: left;
    padding-left: 100PX;
    margin-top: 50px;
}
.Services::after {
    content: "";
    clear: both;
    display: table;
}
.boxes2{
    width: 260px;
    height: 300px;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 25px;
}
.section3{
    height: 920px;
    background-color: #e7f1f8;
}
.header-section3{
    color: #3c4761;
    text-align: center;
    font-size: 41px;
    font-weight: bold;
    padding-top: 120px;
}
.header-section3-line{
    display: block;
    width: 100px;
    height: 20px;
    position: relative; 
}
.header-section3-line::after{
    content: " ";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #c8d9e5;
    position: absolute;
    top: 20px;
    left: 680px;
}
.secstion3-p{
    font-size: 19px;
    font-weight: normal;
    margin-top: 25px;
}
.boxses-section3{
    padding-left: 195px;
}
.box-section3{
    width: 260px;
    height: 520px;
    text-align: center;
    padding: 30px;
    float: left;
}
.box-section3::after {
    content: "";
    clear: both;
    display: table;
}
.secstion3-boxp{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;

}
.section3-box1-a1{
    color: #30bae7;
    font-size: 16px;
}
.section3-box1-p1{
    font-size: 16px;
    padding: 10px;
}
.section4{
    height: 750px;
    background-color: #fff;
}
.header-section4{
    color: #3c4761;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    word-spacing: 10px;
    position: relative;
    letter-spacing: 10px;
}
.header-section4-line{
    display: block;
    width: 100px;
    height: 20px;
    position: relative;
}
.header-section4-line::after{
    content: " ";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #14a58c;
    position: absolute;
    top: 20px;
    left: 680px;
}
.section4-p{
    padding-top: 20px;
    word-spacing: 5px;
    color: #3c4761;
    font-size: 18px;
    letter-spacing: 2px;
    width: 580px;
    margin: auto;
}
.section4-boxes4{
    padding-top: 70px;
    width: 100%;
    padding-left: 170px;
}
.s4-b{
    float: left;
    padding-left: 90px;
}
.s4-b::after {
    content: "";
    clear: both;
    display: table;
}
.section5{
    background-color: #ffdd99;
    height: 1320px;
}
.header-section5{
    text-align: center;
    padding-top: 125px;

}
.section5-h2{
    font-size: 40px;
}
.header-section5-line{
    display: block;
    width: 100%;
    height: 5px;
    position: relative;
    padding: 15px;
    
}
.header-section5-line::after{
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background-color: #e5c37f;
    content: " ";
    left: 680px; 
}
.header-section5-p{
    font-size: 18px;
    width: 600px;
    margin: auto;
    padding-bottom: 30px;
}
.header-section5-a{
    font-size: 18px;
}
.header-section5-a1{
    padding: 0px 25px;
    background-color: #ebc985;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: #393939;
    transition: all 100ms;
}
.header-section5-a1:active{
    background-color: #fff;

}

.header-section5-a2{
    margin-left: 20px;

    background-color: #ebc985;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: #393939;
    transition: all 100ms;
    padding: 0px 20px;

}
.header-section5-a2:active{
    background-color: #fff;

}
.header-section5-a3{
    margin-left: 20px;

    background-color: #ebc985;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: #393939;
    transition: all 100ms;
    padding: 0px 15px;

}
.header-section5-a3:active{
    background-color: #fff;

}
.header-section5-a4{
    margin-left: 20px;

    background-color: #ebc985;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    color: #393939;
    transition: all 100ms;
    padding: 0px 15px;

}
.header-section5-a4:active{
    background-color: #fff;

}
.section5-img{
    width: 1440px;
    height: 764px;
}
.section5-row-div{
    float: left;
}
.section5-row-div::after{
    content: " ";
    clear: both;
    display: table;
}
.section5-row1{
    margin: 85px 170px;
    text-align: center;
}

.section5-btn{
    width: 300px;
    height: 70px;
    margin: auto;
    padding-bottom: 140px;
}
.section5-btn3{
    width: 300px;
    height: 70px;
    background-color: #17c2a4;
    border: none;
    border-bottom-style: solid;
    border-color: #14a58c;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: all 250ms;
}
.section5-btn3:active{
    background-color: #14a58c;
}
.section6{
    height: 950px;
    background-color: #d74680;
    color: #ffffff;
}
.header-section6{
    color: #ffffff;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    word-spacing: 10px;
    position: relative;
    letter-spacing: 10px;
}
.header-section6-line{
    display: block;
    width: 100px;
    height: 20px;
    position: relative;
}
.header-section6-line::after{
    content: " ";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #b73c6d;
    position: absolute;
    top: 20px;
    left: 680px;
}
.header-section6-p{
    padding-top: 20px;
    word-spacing: 5px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    width: 580px;
    margin: auto;
    font-weight: normal;
    padding-bottom: 50px;
}

.section6-box1{
    float: left;
    margin-left: 150px;
    width: 500px;
    padding-bottom: 100px;
}
.section6-box1-link1{
    color: #fcd597;
}
.section6-box1-others-h{
    padding-top: 10px;
}
.section7{
    height: 100%;
    background-color: #3c5499;
    color: #ffffff;
}
.header-section7{
    color: #ffffff;
    text-align: center;
    padding-top: 120px;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    word-spacing: 10px;
    position: relative;
    letter-spacing: 10px;
}
.header-section7-line{
    display: block;
    width: 100px;
    height: 20px;
    position: relative;
}
.header-section7-line::after{
    content: " ";
    display: block;
    width: 90px;
    height: 4px;
    background-color: #273a71;
    position: absolute;
    top: 20px;
    left: 680px;
}
.header-section7-p{
    padding-top: 20px;
    word-spacing: 0;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
    width: 100%;
    margin: auto;
    font-weight: normal;
    padding-bottom: 50px;
}
.section7-form{
    padding-bottom: 50px;
}
.section7-row1{
    padding-left: 300px;
}

.section7-input{
    width: 420px;
    height: 50px;
    background-color: #273a71;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 30px;
    color: #fff;
}
.section7-input::placeholder{
    color: #fff;
}
.section7-text{
    padding-left: 300px;


}

.section7-input-text{
    width: 850px;
    height: 200px;
    background-color: #273a71;
    border: none;
    outline: none;
    margin-top: 20px;
    padding-left: 30px;

}
.section7-input-text::placeholder{
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}
.section7-submit{
    padding-left: 560px;

    margin-bottom: 50px;
}
.section7-input-submit{
    width: 300px;
    height: 70px;
    margin-top: 50px;
    background-color: #30bae7;
    color: #fff;
    border: none;
    outline: none;
    border-bottom-style: solid;
    border-bottom-color: #299ec5;
    transition: all 200ms;
}
.section7-input-submit:active{
    background-color: #299ec5;
}
.section8-footer{
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: #344b8e;
    text-align: center;
    padding-top: 50px;
}
.section8-footer-link{
    padding-left: 50px;
    color: #fff;
    transition: all 200ms;
}
.section8-footer-link:hover{
    color: #30bae7;
}